#TPCalculator_form {
  width: 325px !important;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.5);
  /* background-color: aquamarine; */
  border-radius: 20px;
  border: 1px solid #1f1f1f30;
  padding: 5px 20px 0px 20px;
}

.TPCalculator_form_title{
  color: #1f1f1fe3;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  margin: unset;
  text-align: center;
  font-weight: bold;
}

.TPCalculator_table {
    margin: 15px 5px 5px 5px;
}

.TPCalculator_customButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #3586ff;
  border-radius: 0.25rem;
  border: 1px solid #3586ff;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

.TPCalculator_customButton:hover {
  background-color: #005fb2;
  border-color: #005fb2;
}

.TPCalculator_customButton:disabled,
.TPCalculator_customButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.TPCalculator_textinput {
  display: inline-block;
  width: 18%;
  line-height: 20px;
  height: 22px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  background-color: #fff;
  color: rgb(8, 7, 7);
  transition: border .1s linear,background-color .1s linear;
}

.TPCalculator_textinput:focus{
  border-color: #1b96ff;
  color: var(--sds-c-input-text-color-focus);
  box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
}

.TPCalculator_delayType {
  /* height: 50px; */
  display: block;
  overflow: auto;
  /* background: #0084ff90; */
  padding: 0px 0px 0px 0px;
  opacity: 1;
  transition: all 0.5s ease;
}

.TPCalculator_form_is {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s ease;
}

#TPCalculator_form_isDual input#TPCalculator_delay_dual {
  margin-bottom: 4px; 
}

.hidden {
  display: none;
  opacity: 0;
  transition: all 0.5s;
}


.TPCalculator_three-state-switch input[type="radio"],
.TPCalculator_three-state-switch input[type="checkbox"]{
  display: none;
  cursor: pointer;
}

.TPCalculator_three-state-switch input[type="radio"]:not(:is(:checked)) + label {
  color: rgb(0, 0, 0);
  transition: color .5s ease-out;
}

.TPCalculator_three-state-switch input[type="radio"]:is(:checked) + label {
  color: white;
  transition: color .5s ease-out;
}

/* overwriting MediaWiki */
.TPCalculator_three-state-switch p {
  margin: 0px;
}

.TPCalculator_three-state-switch label
{
  cursor: pointer;
  font-size: 0.85em;
  margin: 0px;
  z-index: 1;
  position: relative;
  font-weight: 400;
}

.TPCalculator_three-state-switch label[for="TPCalculator_three-state-switch_radio1"]
{
  padding-left: 12px;
}

.TPCalculator_three-state-switch label[for="TPCalculator_three-state-switch_radio2"]
{
  padding-left: 30px;
}

.TPCalculator_three-state-switch label[for="TPCalculator_three-state-switch_radio3"]
{
  padding-right: 5px;
  padding-left: 25px;
}


.TPCalculator_three-state-switch
{
  position: relative;
  height:25px;
  display:flex;
  justify-content:space-around;
}

.TPCalculator_three-state-switch::before{
  content: '';
  position: absolute;
  left: 0;
  width: 34%;
  height: 100%;
  background: #3586ff; 
  /* border: 2px solid #36c; */
  border-radius: 0.25rem; 
  /* opacity: .5; */
  transition: all .5s ease-out;
}

.TPCalculator_three-state-switch:has(#TPCalculator_three-state-switch_radio1:checked)::before{
  left: 0%;
}
.TPCalculator_three-state-switch:has(#TPCalculator_three-state-switch_radio2:checked)::before{
  left: 33%;
}
.TPCalculator_three-state-switch:has(#TPCalculator_three-state-switch_radio3:checked)::before{
  left: 66%;
}

.superscript { 
  position: relative; 
  top: -0.5em; 
  font-size: 80%; 
  font-style: italic;
}